// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');

/*-- scss:defaults --*/
// Override theme settings (see ../template/settings.scss)
// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #fcfbf9;

// Primary/body text
$mainFont: 'Jost', sans-serif;
$mainFontSize: 30px;
$mainColor: #333;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Abhaya Libre', Impact, sans-serif;
$headingColor: #9b332b;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.00em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;



$codeFont: monospace;

$code-block-bg: #f2f2f2;
$code-block-font-size: 0.7em;

// Links and actions
$linkColor: #437597;
$linkColorHover: darken( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #f7c267;
$selectionColor: rgb(0, 0, 0);

// start using css here
#title-slide > h1 {
  color: #591c19;
  text-align: center;
  padding-top: 60px;
  text-shadow: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#title-slide .author {
  color: #262d42;
  text-align: center;
  text-shadow: none;
  padding-bottom: 60px;
  margin-top: 0px;
}

#title-slide > h2 .author {
  color: #262d42;
  text-align: center;
  text-shadow: none;
  padding-bottom: 60px;
  margin-top: 0px;
}

#title-slide > h3 .date {
  color: #262d42;
  text-align: center;
  text-shadow: none;
  padding-bottom: 60px;
  margin-top: 0px;
}


  .reveal .slides > section > section {
    text-align:left;
  }

  .code_block {
   height: 200px;
   width: 300px;
   border:1px;
   border-style:solid;
 }

 .reveal h2 {
  font-size: 1.4em;
  margin-bottom: 2.8px;
}

h2>code {
  font-size: .95em; 
  margin-bottom: 2.8px;
}

.reveal h3 {
  font-size: 1em;
  margin-bottom: 2.8px;
  font-weight: bold;
}

.reveal h4 {
  font-size: 1em;
  margin-bottom: 2.8px;
  font-weight: bold;
  color: #606060;
}

.reveal h5 {
  font-size: .8em;
  margin-bottom: 2.8px;
  font-weight: bold;
  color: #606060;
}

.reveal p {
  font-size: .75em;
  margin-top: 8px;
  margin-bottom: 16px;
}

.reveal table {
font-size: .75em;
font-family: 'Input Mono Condensed', monospace;
}


.lightable-minimal.lightable-hover tbody tr:hover { 
background-color: #28a87d !important;
color: #ffffff;
}

.reveal .slide figure>figcaption, .reveal .slide img.stretch+p.caption, .reveal .slide img.r-stretch+p.caption  {
font-size: .4em;
color: #606060;
text-align: center;
margin-top: 1;
}

details {
margin-bottom: 5px;
}

details>summary {
font-family: 'Input Mono Condensed', monospace;
font-size: 1.25rem;
color: #a0a0a0;
}

code>a, code>span {
font-family: 'Input Mono Condensed', monospace;
font-size: 1.1rem;
}

.panel-tabset li>a {
color: #a0a0a0;
font-size: .6em;
font-weight: bold;
}

.cell {
  margin-bottom: 12px;
}

.footer p {
color: #a0a0a0;
font-size: 1.25rem;
}

a:link,a:visited {
color: #28a87d;
}
a:hov {
color: #79dfbd;
}

.small {
font-size: .75rem;
}

.reveal li {
font-size: 2.1rem;
}

.reveal li li, li li li {
font-size: 1.75rem;
}

.reveal pre {
height: 98.1%
}

.reveal .slide .question {
border-left: 3px solid #28a87d;
padding: 0.5rem 0.5rem 0.2rem 1rem;
margin-top: 0.5rem;
margin-bottom: 0.3rem;
background: #d9f6ec;
}

.reveal .slide .poll {
border-left: 3px solid #FFD166;
padding: 0.5rem 0.5rem 0.2rem 1rem;
margin-top: 0.5rem;
margin-bottom: 0.3rem;
background: #FFEDC2;
}

.reveal .slide .recap {
border-left: 3px solid #663399;
padding: 0.5rem 0.5rem 0.2rem 1rem;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
background: #e6d9f2;
}

.simple-highlight-ylw {
background-color: #FFD166;
padding: 0.1em 0.2em;
font-weight: bold;
}

.simple-highlight-grn {
background-color: #79dfbd;
padding: 0.1em 0.2em;
font-weight: bold;
}

.circle-highlight {
position: relative;
}

.circle-highlight:before {
content: "";
z-index: -1;
left: -0.4em;
top: -0.15em;
border-width: 2.7px;
border-style: solid;
border-color: #28a87d;
position: absolute;
border-right-color: transparent;
width: 100%;
height: 1em;
transform: rotate(2deg);
opacity: 0.65;
border-radius: 75%;
padding: 0.1em 0.25em;
}

.circle-highlight:after {
content: "";
z-index: -1;
left: -0.6em;
top: 0.04em;
padding: 0.05em 0.29em;
border-width: 2.7px;
border-style: solid;
border-color: #28a87d;
border-left-color: transparent;
border-top-color: transparent;
position:absolute;
width: 100%;
height: 1em;
transform: rotate(-1deg);
opacity: 0.65;
border-radius: 80%;
}

.reveal .slide body::-webkit-scrollbar {
display: none;
}